{% extends 'base.html' %}

{% block title %} 
Crear Proveedor
{% endblock title%}

{% block content %}
<section class="container m-3">
    <div class="d-grid gap-2">
            <a class="btn btn-primary m-2" href={% url 'listar_proveedores'%}>Volver a la lista</a>
    </div> 
        <div class="container m-2 ">
            <div class="col-md-6 fst-italic p-3" style="box-shadow: 0px 0px 10px 0px #333 inset;">
                <div class="text-center m-3"><p >Carga de Proveedor</p> </div>

                    <form action={% url 'crear_proveedor' %}  method="post">
                        {% csrf_token %}
                        <table class="form-outline mb-4">
                             {{form.as_table}}
                        </table>
                                
                        <div class="d-grid gap-2 ">
                            <button class="btn btn-danger m-3">INGRESAR PROVEEDOR</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
               
     </div>
</section>


{% endblock %}