{% extends 'base.html' %}

{% block title %} 
Curso Tecnico Celular
{% endblock title%}

{% block content %}
<div class="container  ">
    <div class="row">
        <div class="col col d-flex justify-content-center card m-3" style="background-color:#B0C4DE">
            
            <div>
                <h5 class=" fst-italic text-center display-3 d-flex text-primary titulo" style="color:#B0C4DE">Bienvenido al Curso de Reparacion de Celulares y Tablets</h5>
            </div>
                

            
    
        <div class="col d-flex justify-content-center text-center textgsap">
            <p class="text-danger mr-2" style="color:#87CEEB">Sabemos que las Nuevas Tecnologías (IT) avanzan continuamente y hoy un dispositivo móvil se utiliza en todas las actividades que 
                realizamos diariamente (comunicaciones locales, nacionales e internacionales, capacitación online, aplicaciones, videoconferencias,
                 sintonizar radios, escuchar música, navegar en busca de información y noticias, actividad bancaria, etc). La evolución en generaciones 
                 de las tecnologías (1G a 5G) ha potenciado el uso del celular dejando en un segundo plano a la computadora personal o de escritorio. 
                 En la actualidad, el dispositivo móvil se adapta según los requerimientos o necesidad del cliente (usuario). Hay celulares de gama baja,
                  media y alta que se definen o diferencian por la tecnología de fabricación interna que cada uno tiene (placa madre, memoria, procesador, 
                  cámaras, batería, componentes, etc). Es por eso que este curso no solamente pretende aportar conocimientos técnicos en reparación de 
                  celulares, sino que además se busca formar a un profesional altamente capacitado para solucionar desperfectos técnicos, y asesorar al 
                  cliente en la compra y uso del dispositivo.</p>
                  <p class="text-danger ml-2" style="color:#87CEEB">Empieza hoy mismo 
                    Curso teórico práctico, muy completo, intensivo y de corta duración con gran demanda laboral, que te prepara para desempeñarte en forma independiente o incorporarte a una empresa.
                    No solo te enseñamos (mas de 100 clases), sino que además te damos herramientas (programa para emitir remitos, programas de carga de software)
                    Te proveemos de la cartelería para que prepares tu lugar de trabajo de acuerdo a las normas y puedas manejar cada situación que se presente con los años en tu local.
                    Te enseñamos a recibir equipos, analizarlos y presupuestar aun sin necesidad de abrir en la mayoría de los casos.
                    Básicamente es todo lo que tendrías en un fondo de comercio, sin los clientes que los haras vos mismo, ni la mercadería o las herramientas para las que te proveeremos Descuentos Especiales.
            </p>
        </div>
    </div>
    </div>
</div>
<section class="container">
    <div class="row">
        <div class="col-12 justify-content-center "style="padding-top:10px; color:#322360">
            <center>
            <h2 
            >· Inscripciones abiertas
                · Modalidad: 100% ONLINE.</h2>
            <div class="embled-responsive embed-responsive-4by3 titulo">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/6U9S1I42_oM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> 
            
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row" style="padding-top:10px; color:#322360">
        <div class="col-12" style="padding-top:10px;">
            
            <h2>Que aprenderas en este curso?</h2>
            
            <p class="d-flex flex-row-reverse textgsap">Conceptos básicos de electrónica aplicados a los dispositivos móviles
                Partes y componentes electrónicos de los Smartphones y Tablets
                El uso de las herramientas adecuadas para el diagnóstico rápido y eficiente de las diferentes fallas.
                Procedimientos y metodología para el cambio de partes y componentes
                Práctica de las diferentes técnicas de soldadura
                Conceptos generales de los diferentes sistemas operativos de celulares y tablets
                Acceso a root en dispositivos Android
                Software y procedimientos especificos por marca
                Conceptos generales de Liberacion 
            </p>
            <p class="textgsap">DESTINATARIOS: Personas que quieran aprender a reparar dispositivos móviles. (de 17 años en adelante)</p>
                <p>REQUISITOS RECOMENDABLES DE PARTICIPACIÓN: No es necesario tener conocimientos previos.</p>
                <p>OBJETIVOS: Transmitir a los alumnos contenidos teóricos y prácticos perfeccionando así el desarrollo en la reparación de teléfonos móviles.
                 Que el alumno tenga la capacidad de realizar un diagnóstico inicial (mediciones, detección de fallas, diferencia de modelos, software, 
                 soldadura). Y con los conocimientos adquiridos poder resolver la reparación y posterior solución al problema.</p>

                </hr>
                <p class="display-6">TEMARIO
                    DESARROLLO DE LOS CONTENIDOS
                    </p></br>
                    
                    
                    <p>En su desempeño laboral cotidiano, el Reparador/a de celulares debe analizar y reparar dispositivos de telefonía celular de diversas tecnologías, por lo cual es de vital importancia que conozca las tecnologías
                     vigentes en el mercado y los conceptos básicos de funcionamiento de las mismas. El conocimiento integrado y la comprensión que el Reparador/a de celulares tenga sobre el circuito propio del contexto laboral en el que se desempeñe garantizarán la calidad de atención que este pueda brindar.
                    </br>
                    Conocer los fundamentos básicos de la electrónica y aplicarlos en la reparación de celulares.
                    
                </br>
                    HERRAMIENTAS DEL TALLER.
                </br>
                    
                    En su desempeño laboral cotidiano, el Reparador/a de celulares debe utilizar diversas herramientas. Por ello el conocimiento de las mismas, su correcto uso y mantenimiento es de vital importancia.
                </br>
                    
                    REPARACIÓN BÁSICA DE CELULARES.
                </br>
                    Detectar fallas y realizar reparaciones básicas de celulares
                </br>
                    Aplicar herramientas e interpretar fallas. Reparar celulares aplicando técnicas básicas de reemplazo de componentes y soldadura.
                </br>
                    REPARACIÓN DE CELULARES
                    SERVICIO TÉCNICO - TÉCNICAS DE DIAGNÓSTICO
                </br>
                <ol class="textgsap">
                    <li>Herramientas del Taller</li>
                    <li>Reconocimiento de Partes de un celular</li>
                    <li>Diferentes Métodos de Desarme para cada equipo de Baja, Media y Alta Gama.</li>
                    <li>Análisis de Fallas, Cómo Interpretarlas y búsqueda de Soluciones.</li>
                    <li>Cambio de Módulos</li>
                    <li>Cambio de Touch</li>
                    <li>Cambio de Lcd</li>
                    <li>Cambio de Pines de Carga</li>
                    <li>Jumpers (puentes)</li>
                    <li>Tratamiento de Equipos Mojados</li>
                    <p>Consejos</p>
                    <li>INTRODUCCION a fallas de equipos solucionables por SOFTWARE</li>
                    <li>Reseteo</li>
                    <li>Carga de Software</li>
                    <li>Test Point</li>
                    <li>Frp</li>
                    <li>HERRAMIENTAS de  SOFTWARE tanto pagas (BOX, DONGLE) como gratuitas (CRACKS).</li>
                    <li>Manejo he instalación de drivers y administrador de dispositivos.</li>
                    <li>Modo download, recovery, fastboot y utilidad de cada uno.</li>
                    <li>Instalacion de programas , box y dongles.</li>
                    <li>Z3x operaciones para trabajar con celulares Samsung.</li>
                    <li>Umt BOX</li>
                    <li>Medusa BOX operaciones de reprogramación lg.</li>
                    <li>Octopus BOX lg frp multimarca.</li>
                    <li> Nck DONGLE operaciones multimarca.</li>
                    <li>Sigma BOX reparaciones de huawey motorola y otros.</li>
                    <li>Reparación de Imei dañados</li>
                    <li>ACCESO A DESCUENTOS EN HERRAMIENTAS, REPUESTOS, ACCESORIOS.</li>
                    
                  </ol>
            </div>
    </div>
</section>
<div class="container-fluid titulo">
    <div class="row">
        <div class="col-12 mt-3 text-center text-primary p-3" style="background-color:#B0C4DE">
            <h1 class="display-6 ">INSCRIPCION</h1>
            <p>Inscribite Fácil y rápido. Realiza los pasos que se muestran a continuación.</p>
        </div>
    </div>
</div>
    <div class="container-fluid d-flex justify-content-center mt-3 textgsap">
    <div class="card border-light m-3  text-center" style="max-width: 18rem; background-color:#DC143C">
        <div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-ui-checks" viewBox="0 0 16 16">
            <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708l-2 2zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708l-2 2zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg></div>
        <div class="card-body">
          <h5 class="card-title">Paso 1</h5>
          <p class="card-text">Completá nuestro formulario con tus datos de contacto.</p>
        </div>
      </div>
      <div class="card border-light m-3 text-center" style="max-width: 18rem; background-color:#DC143C">
        <div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
          </svg></div>
        <div class="card-body">
          <h5 class="card-title">Paso 2</h5>
          <p class="card-text">Te llegará a tu correo un enlace para abonar a través de la plataforma Mercado Pago.</p>
        </div>
      </div>
      <div class="card border-light m-3 text-center " style="max-width: 18rem; background-color:#DC143C">
        <div class="card-header "><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-laughing-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z"/>
          </svg></div>
        <div class="card-body">
          <h5 class="card-title">Paso 3</h5>
          <p class="card-text">Listo! Ya estás inscripto, ya inicias tu camino para luego disfrutar de tu crecimiento</p>
        </div>
      </div>
      
      <a class="btn btn-success btn-sm" href={% url 'curso'%}>boton de ingreso momentaneo al curso para ver styles</a>
</div>

<script>
    const tlLoader = gsap.timeline()
    tlLoader
            .set('.titulo', { yPercent: 100 })
            .set('.textgsap', {opacity: 0})
    
            .set('.titulo', { 
                yPercent: -100,
             })
            .to('.titulo',{
                yPercent: 0,
                duration: 1,
                stagger: 0.25,
            })
            .to('.textgsap',{
                opacity: 1,
                duration: 5,
                scale: 0.9,
            })

            .to('.svgsap',{
                scrollTriger:{
                    trigger: '.svgsap',
                    start: '-100 0',
                    scrub: true,
                    
                },
                scale: 0.5,
                duration: 1,
            })
        
            
    

</script>
{% endblock %}

