{% extends 'base.html' %}

{% block title %} 
Curso Tecnico
{% endblock title%}

{% block content %}
<section class="container-fluid">
    <div class="col-md-6 mx-auto m-3">
                <h1 class>Bienvenido al Curso de Reparacion de Telefonia Celular y tablets, EnLinea</h1>
            </hr>
                            <p>Titulo 1</p>
            <div class="container-fluid">
                 <div class="row">
                    <div class="col">
                        <div class="text-center m-3 display-5" ><p >Estas son las herramientas básicas, luego nos introduciremos directamente al mundo de la Reparación de Celulares
                        </p> </div>
             </div>     

            <ol>
                <li>Destornilladores</li>
                <p>Un destornillador (atornillador o desatornillador) es una herramienta que se utiliza para apretar y aflojar tornillos 
                    y otros elementos de máquinas que requieren poca fuerza de apriete y que generalmente son de diámetro pequeño. .. 
                </p>
                <li>Multimetro o Tester.</li>
                <p>Un multímetro es un instrumento que permite medir directamente magnitudes eléctricas activas como corrientes y diferencia de 
                    potenciales o pasivas como resistencias, capacidades y otras. ... Un galvanómetro es un instrumento que se usa para detectar y medir la corriente eléctrica.</p>
                <li>Estación Desoldado</li>
                <p>El cautín o estación de soldadura es el instrumento que nos permite soldar los diferentes puntos de unión existentes en 
                    los equipos electrónicos, dependiendo del circuito en el que se trabajara, se debe elegir un cautín apropiado, pues el 
                    calor excesivo puede llegar a dañar los componentes electrónicos. </p>
                <li>Soporte de Placas</li>
                <p> Especialmente diseñado para sujetar placas de circuitos, para soldar o desoldar sobre las mismas.</p>
                <li>Plancha Térmica</li>
                <p>Esta máquina separadora de LCD se utiliza para reemplazar la PANTALLA LCD de varios tamaño de los teléfonos celulares, 
                    como el Samsung Galaxy S2, S3, S4, S5, nota, iPhone 4/4S/5/5S y otros teléfonos celulares, su tamaño es juego para menos
                     de7 pulgadas de pantalla seperating. Su voltaje es de 110 V/220 V.</p>
                <li>Fuente de Alimentación</li>
                <p>Sirven para transformar un tipo de energía en otra necesaria para el correcto funcionamiento de nuestros dispositivos. 
                    Si pensamos en una batería, esta al ser una fuente de alimentación transforma la energía química en energía eléctrica. 
                </p>     
                <li>Microscopios</li>
                <p>Los microscopios digitales son microscopios que funcionan sin oculares. Una cámara digital actúa como detector. 
                    Las imágenes se visualizan en una pantalla o monitor, de forma que el puesto de trabajo del microscopio se convierte 
                    en un ergonómico puesto de ordenador. </p>
                <li>Mini Torno</li>
                <p>Con ellos se puede cortar metal, plástico o madera; afilar herramientas, marcar surcos o ranuras. Para usar un mini 
                    torno manual, tan solo debemos fijar al eje un disco o cilindro de lija, Luego colocar este eje (con el elemento montado)
                     en el mandril del minitorno trabando el eje y ajustando con la pequeña llave </p>
                <li>FLUX </li>
                <p>Flux para soldaduras de circuitos de montaje superficial. Evita la oxidación de las pistas de cobre en circuitos impresos
                     y permite obtener soldaduras brillantes y confiables.</p>
            </ol>
        </div>
    </section>

 
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Desde este punto ya habiendo aprendido lo básico con respecto a las de herramientas, empezaras a reparar y aprender 
                soluciones especificas con videos reales grabados en vivo, de reparaciones ingresadas en nuestro servicio técnico, 
                mostrándote y enseñándote nuestras técnicas, las formas, secretos, análisis y soluciones de fallas especificas entre 
                otras cosas.</h3>
            <h2>A partir de aquí notaras que las clases estarán etiquetadas con la explicación, pero solo algunas enumeran las 
                herramientas utilizadas, para que así seas tu que al verlas empieces a acostumbrarte a racionalizar el proceso de cada clase... a empezar !!!!!! </h2>
        </div>
    </div>
</div>
<section class="container">
    <div class="row">
        <div class="col-12 justify-content-center "style="padding-top:10px; color:#322360">
            <center>


             <p>mic sin pistas j7 16</p>
            
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/yoMkgZfsVmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            

            <p>fallas varias j7 16</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vBTD304vv3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>reconosimiento de partes j7 16</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/jrDuRamKOYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe
            </div>

            <p>reconocimiento partes y desarme j7 16</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VuXR2gZhGb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>frp j5 prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ifqlQNdxR8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>pin j7 prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" <iframe width="560" height="315" src="https://www.youtube.com/embed/OVf8cthpjvY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>mantenimiento de pin xiaomi</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/kh_1NEvyjO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>a71 pin</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/7pFNegx574Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>boton pwr samsung j7</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item"  width="560" height="315" src="https://www.youtube.com/embed/304b9nHC_MY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>pin k9</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9-WNa135sEM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>reparacion g4 play</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XFhp4HcPxWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>descarga de archivos z3x</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/pOvho6bh7xQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>e4 plus pin</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/y7ABGMg9wr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>touch j2 prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/HC6N_9XaqY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>pin g4 plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ZDJBKJoD7DU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>apertura g9</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Lwocxs79yIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>desarme y bateria iphone 6</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/GwNIe7mRBnM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>desarme tapas de metal (xiaomi)</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/UVmBATp_8rs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Apertura modulos frontales moto g5 s plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/O5Ze3hcXegA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>j5 prime imagen por desconeccion</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rZkJiD-Ve3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>e6 plus pin de carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/UAnMD6Hb5lE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>j2 prime en corto</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/4qGN-ZfmkbU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>modulo g8 play</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/V_KYoay0HXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>adaptacion mic univ</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/TEJ_oTfpz8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>touch j7 prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/IAsXgeymtg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>modulo a10</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/a9irj-AZ4rQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>detector fallas</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rJ3TEjTd-_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>buzzer j7</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/i_cxDa7ZSUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>boton j2 prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/QxxljiorF5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>j6 intercambio y despegue de modulos</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/EMigZBipxuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>cambio de conector microsoldadura</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/8-DnzSSvzGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>apertura moto g3</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/JEOORy0IOCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>frp e5 play</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/f7SrASuUQ0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
                          <p>reparacion de imei lg</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9PQPMIIuEzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>frp j6 con z3x</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/p0eJWD-msAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>cambio de conectores</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/8VcyCO7v-LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>sacar tapa de vidrio moto g6 plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/6AGlFZQGgVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>reseteo umt</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/I7hyTDHhnM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>carga de archivos z3x</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/NkdHiWeBAVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>flash con nck</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/pVXJbGBbSpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>frp x230 octopus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Zli1lkHQvdI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>descarga y frp con umt</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/UX86-qY271g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>frp con octopus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/hdG4n9saty8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>flasheando con umt</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VsK76RhLmps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>flasheando con z3x</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/LWk1mtUpS2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>modo dowland samsung</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/EbUwCb0kA8Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Z3X</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/HYpBI6Qb1hY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Z3X vs Odin</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/RecqLZz5sfA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo E6 plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/58aCRwKX58w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo j5 2015</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/AeK5Q941RMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Desarme Xiaomi Note 4</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/YPPcjh670Xc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Tratamiento de equipos mojados</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/LAFVq9QBDqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Falla de touch por conector Xiaomi</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/uUFlP0kWl94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Test Point Xiaomi</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/iG2S2MrAaZA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Hard Reset E5 play</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/D8cd4V_WwKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Titulo 58</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/la1f-vez5Fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Prende y apaga Moto E2</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/gtnUxYuIb3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Toque Fantasma</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VnDAFo15DqQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Touch por desconeccion</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/c-w5flsQnto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Templado</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/lkhWfJJTd3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Apertura Note 8</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/J7e0Nqr_j1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Cambio de conector</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/xdnkhOrOL44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Tornillos rodados</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ULc9B6z51OY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>A5 16 Pin de carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/hLWzWv8Cy8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Lg no prende </p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ltvnyXqB26A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Moto E5 boton de PWR</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/49cWT1L1khc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Reparacion de pistas de conector</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Y94BrjaavRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Sony Xa1 Pin de carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/l79mf0yK-CI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Modulo A51 y otro</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/zlNmVS25xh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Prueba de Botones</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/0t0i2YfD7CM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Pin de Tablet</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Ul-oRbn8RCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>J6 Pegado de Modulo</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/mJf0qjttIu4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>herramienta de Control de pines</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1gDJhcQ1IgM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Pin G6 Plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/v6ZqGq3J1hE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Hard reset Tablet</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/iaiL7iGJkzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Hard reset A5 2015</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/fUqDIuwm8vs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Bateria de Tablet</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/7JsRG3s-P-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Apertura Moto G5s Plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/x5WHuMm2ZKc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>A71 Pin de Carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Op0lfgYQ6z8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Pin A5 2015</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1dS3SEzH6nY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Hard reset Tablet Lenovo</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/0uBBtdXSl38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Cambio de Mic Moto G4</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/KHdizmAcwY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Apertura y mantenimiento de Pin A50</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/2LReorOVQv4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo K8 2017</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/PAryZskqatk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Modulo Xiaomi redmi 6a</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/goQQlWsHswM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo J7 Prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VKVFc94R2_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo E4 Plus y otros</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/YB-eAjE6dks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo LG K10 17</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/_OHpLZ-J9Fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Samsung J7 2016 Pin de Carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ImRc9xTNVRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Cambio de Mic en Placa de carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/oU1tv4_3fz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Cambio de touch de Tablet</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/D5XSWkjE2xM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>A20 Temperatura de carga</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/y6g9tHOy8x0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Lectora de sim</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1laelV2uMHE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Como Recepcionar equipos en tu taller</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/2Cksz068BTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Tipos y diferencia de calidades de modulos</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/7wEnh4Wo9MI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>J200 Tildado por touch</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/TDzsG_5J1o0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <p>Cambio de touch j2 prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9Io9OJRHp4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Desarme de G7</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/p8eEb3NgSiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo Iphone 6</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/eMvFFn4RdXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>A50 desarme y Modulo</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/mSSLiqgc3LI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <p>Desarme y partes A51</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/e-9fvFw6MB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Sonido Bajo Moto G6 Plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/i3sqzUhA1hg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Hard reset J2 Prime</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/O-rB0HgyFgI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Moto G3 Cambio de Modulo</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tynaxEauFzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>A01 Cambio de Modulo</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/lMK6m6fFgTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Modulo a10s</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/SQZmvwzbZsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>J5 prime Reparacion de Bateria</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/LYcOOssxLuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <p>Apertura Moto G5s plus</p>
            <div class="embled-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/hiBEmr8qGcA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</section>
<div class="container">
    <div class="col-12">
        <div class="row" style="color:#e9f3fb">
                <h4> Herramientas pagas como gratuitas tanto en lo que hacía programas box dongle y otros</h4>
        <p>La diferencia entre unas y otras radica esencialmente en la rapidez o la simpleza determinar las operaciones en menor tiempo y con el menor pasos posibles
        En el caso de Xbox y dongle además tenemos el aditivo de poder realizar operaciones Como por ejemplo la reparación de imei que con programas gratuitos no está al alcance
        Igualmente ambas opciones son necesarias tenerlas ya que depende la operación que quisiéramos realizar nos va a servir una u otra para llegar a finalizar correctamente el proceso.</p>


        <h4>oftware de Taller</h4>
        <p>Ya completado el curso necesitaras iniciar tu negocio de la mejor manera posible. para ello te proveemos y recomendamos este software que te permitirá llevar el control de todo equipo que llegue al taller, como así también de clientes y mercaderías.
        podrás personalizarlo con tu nombre y tu logo, además de agregar los datos de tu empresa y la posibilidad de poner en el pie de pagina el reglamento o las aclaraciones que creas oportuna, para lo que te ayudaremos en los cuadros subsiguientes para que te evites complicaciones con clientes.

        <h5>Textos a tener en cuenta para la cartelería interna de tu local y así evitar problemas con clientes complicados.<h5>

        <p>Los equipos no deben mostrar maltratos tales como, golpes, presiones, humedad, etc.
        Una vez recibido el equipo, este requiere una revisión que puede variar de 24 a 72 hs. hábiles.
        En caso en que la revisión del equipo por parte del técnico arroje que el daño no es defecto de la reparación o de los repuestos, sino resultado de un mal uso por parte del usuario, el cliente deberá asumir los costos de reparación del mismo si desea  repararlo o cargos de revisión de garantía por el tiempo invertido del técnico (ya que al conocer la verdadera razón de la falla y aún así no reconocerla e intentar pasar por garantía un equipo que no lo es en sí mismo).
        Los cargos por revisión de garantía si correspondiese a falla por mal uso serán de $XXX Y necesitará abonar los mismos para retirar el equipo si no desease reparar el mismo.
        No se procesarán equipos que presentes daños ocasionados por mal uso o indebido del usuario, tales como humedad, golpes, sobrecargas eléctricas, exposición a altas temperaturas, desprendimiento de puertos de carga por apalancamiento, entre otras. 
        No se procesarán equipos que presenten fallas por instalación de aplicaciones de terceros que originan conflictos de software, o cambios de software que no se realizasen en este servicio técnico.
        Los módulos de display tienen una garantía de 12 hs. ya que de estar fallado el repuesto o de poseer falla por mala postura del mismo por parte del técnico. El equipo  mostrara deficiencias de imagen o táctiles en el uso inmediato. Si el cliente advirtiese algún defecto deberá comunicarse vía WhatsApp o telefónicamente al XXXXXXXXXX para que sea registrado en el sistema y pueda concurrir  durante ese plazo o posteriormente para su verificación. Si se entrega un equipo con cambio de modulo ( touch y pantalla , TOUCH solo o LCD solo, …NO se recibirá como Garantía si regresa quebrado!!!</p>


        <h5>Texto para Remitos</h5>

        <p>ESTE LOCAL TRABAJA CONFORME A LA LEY 25891- BOLETIN OFICIAL N 30.407 – 24/05/2004 
        POR CUANTO NO SE REALIZA LA COMPRA DE EQUIPOS DE NINGUNA INDOLE NI LA ADULTERACION DEL NUMERO DE IMEI DEL EQUIPO  POR LO QUE DEBE SABER QUE SI DEJA SU EQUIPO PARA DESBLOQUEO DE RED (LIBERACION)  EN CASO DE ESTAR EN BASE DE DATOS NEGATIVA (ROBO – EXTRAVIO – DEUDA – FRAUDE) EL MISMO NO TOMARA SEÑAL.EN ESTE CASO  O CUALQUIER OTRO TIPO DE OPERACIÓN USTED DECLARA QUE EL EQUIPO ES DE SU TOTAL PROPIEDAD Y QUE NOS AUTORIZA A REALIZAR (SI ACEPTO PREVIAMENTE EL PRESUPUESTO) TODO LO NECESARIO PARA SU CORRECTO FUNCIONAMIENTO.
        El cliente deberá retirar del servicio técnico el equipo ingresado dentro de los 30 días corridos de haber sido notificado sobre la finalización de dicha reparación previamente aceptada. Cumplido ese plazo si el cliente no lo hiciese Desbloqueoenlinea podrá disponer libremente del equipo. Se efectuarán para ello 2 notificaciones vía WhatsApp, SMS, y de ser necesario al no tener respuesta telefónicamente. Los términos de garantía corresponden a 15 días corridos desde la entrega del terminal. Concluido ese plazo se deberá reingresar el equipo para un nuevo diagnostico. Duda de información: el cliente conoce y entiende que ciertas reparaciones exigen el peseteo del terminal con l respectiva pérdida de datos almacenados y el retiro de los protectores de pantalla en cuyo caso renuncia a efectuar cualquier reclamo al respecto. 
        Los módulos de display tienen una garantía de 48 hs. ya que de estar fallado el repuesto o de poseer falla por mala postura del mismo por parte del técnico. El equipo  mostrara deficiencias de imagen o táctiles en el uso inmediato. Si el cliente advirtiese algún defecto deberá comunicarse vía WhatsApp o telefónicamente al xxxxxxxxxx para que sea registrado en el sistema y pueda concurrir  durante ese plazo o posteriormente para su verificación.              
        </br>FIRMA Y ACLARACION <p>

        <h5>Cartel para evitar clientes mentirosos que cada tanto lamentablemente aparecen...</h5>

        <p>Se informa que este local se dedica a la reparación de equipos celulares y nos regimos por la lógica, y las leyes físicas!. …Si se entrega un equipo con cambio de modulo ( touch y pantalla , TOUCH solo o LCD solo, …NO se recibirá como Garantía si regresa quebrado!!!
        Tenga en cuenta que la Magia se da en la Ciencia Ficción, pero en la realidad, si esta algo partido, fue por una mala manipulación del cliente ósea usted, (o se golpeo  o tuvo una torsión o presión excesiva para quebrar EL REPUESTO EN CUESTION).
        Análogamente es igual a quebrar un vidrio… solo no pasa!!! , dicho esto reiteramos  NO TIENE GARANTIA SI ES ESE EL CASO así que sea por favor Sea  lógico y no reclame lo que no tiene sentido.</p>


        <h5>Programas Gratuitos para solucionar fallos de software</h5>


        <h2 class="display-6 text-center" style="background-color:#ffe9ca; color:#212531">FELICITACIONES Completaste el CURSO COMPLETO por lo que  ESTAS LISTO para Manejar he iniciar TU PROPIO NEGOCIO como TECNICO ESPECIALIZADO EN REPARACION DE CELULARES Y TABLET.</h2>

        </div>
    </div>
</div>




{% endblock  %}