{% extends 'base.html' %}

{% block title %} 
Eliminar Ingreso de Reparacion
{% endblock title%}

{% block content %}
<div class="container-fluid>">
    <div class="row col-12">
        <div class="d-grid gap-2">
            
            <a class="btn btn-primary m-2" href={% url 'listar_ingresos'%}>Volver a la lista</a>
            </div> 
        </br>
        <div>
            <form action={% url "eliminar_ingreso" object.id %}  method="post">
                {% csrf_token %}
                
                <h1>Esta seguro de Eliminar la REPARACION?</h1>
            </br>
                    <div class="d-grid gap-2"> 
                <button class="btn btn-danger">==>  ELIMINAR REPARACION  <== </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}