{% extends 'base.html' %}

{% block title %} 
Muestra de Cliente
{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-12 m-1 ">
        <div class="text-uppercase fs-1 m-t-3 text-center">
                   <p>DETALLE DE CLIENTE</p>
        </div>
            <ul class="list-group list-group-horizontal-sm d-flex justify-content-end">
                <h2>Id cliente |</h2>
                <li class="list-group-item">{{object.id}}</li>
               
            </ul>
            <ul class="list-group ">
                
                <h2>Cliente</h2>
                <li class="list-group-item list-group-item-dark"> {{object.nombre_completo}} </li>
                <h2>Telefono</h2>
                <li class="list-group-item list-group-item-danger"> {{object.telefono}} </li>

            <div class="d-grid gap-2">
                <a class="btn btn-primary m-3" href={% url 'listar_clientes'%}>Volver a la lista</a>
            </div>  
        </div>    
    </div>
{% endblock %}