{% extends 'base.html' %}

{% block title %} 
Reglamento
{% endblock %}

{% block content %}
 <!-- MODAL***************************-->
 <!-- Button trigger modal -->


<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
  Launch demo modal
</button>   -->


<div class="container">
  <div class="col-12 m-3">
    <h1 class="titulo">Políticas de Garantía y cambio</h1>
    <section id="textgsap" class="garantia">
    <p>Nuestra política de garantía esta diseñada a la medida de nuestros clientes y se divide en dos grandes ramas según el tipo de cliente: Cliente Minorista y Cliente mayorista.
       La garantía para clientes clasificados como minoristas está sujeta a requisitos y limitaciones en la sección de CLIENTE MINORISTA de este documento. Los clientes clasificados como mayoristas son clientes
        previamente registrados precios especiales de descuento. Los requisitos y limitaciones en la política de garantía para este tipo de cliente se detallan en la sección de Mayoristas de este documento.</p>
    <p >Garantia de Productos Vendidos: Todos nuestros productos poseen 10 dias de garantia.
      Para la Validez de la misma es necesario que el Producto se encuentre en las mismas condiciones en las que fue entregado. En caso de Modulos, Tactiles y Displays, el cliente NO debera instalarlos, pegarlos, ni retirar film, sello o plastico sin antes probarlo y confirmar su perfecto funcionamiento.
    </p>
    <h4>!Importante La Garantia No cubre daños por mal uso o mala colocacion por parte del cliente (rayones, soldaduras o flex dañados, Etc)
      Te recomendamos que acudas a un tecnico con experiencia para la instalacion si aun no dominas el proceso o eres un cliente minorista.
    </h4>
    <p>Que hacer si no funciona: </p>
    <ul id="textgsap">
      <li>Si el equipo cuenta con bateria extraible, retirla he insertala nuevamente.</li>
      <li>Si el equipo posee bateria interna, presiona tecla de Vol (-) y Tecla PWR, ambas al mismo tiempo por 20 segundos para que tu terminal se reinicie.
        Aclaracion: en muschos terminales es necesario para evitar cortos el retiro de la bateria. </li>
        <p>Si aun corroboras la falla y consideras que el equipo no es la razon de la misma, te solicitamos te comuniques via whastsapp al +549 3515205342, dentro del termino establecido como periodo de garantia, asi podemos ayudarte.</p>
        <p>Para una correcta evalucion del caso te pedimos un video mostrando el inconveniente o la prueba en nuestro local comercial.</p>
      <li>Deberas presentar el comprobante enviado en el momento de la compra.</li>
      <li>Los cambios se realizan solo por el mismo tipo y modelo de repuesto, salvo que por cuestiones de stock esto no fuera posible, en cuyo caso se procedera a cambiarlo por otro repuesto o una nota de credito en la cuenta del cliente.</li>
      </ul>

      
    <ul>
      <p>Pines, placas de carga, baterias, flexibles, botones, buzzers y demas componentes pequeños, No poseen Garantia:</p>  

      <li>Este tipo de articulos, no tiene garantía. Bajo ninguna circunstancia se harán cambios, devoluciones ni se ofrecerá ningún tipo de compensación en caso de fallo </li>
      <li>El cliente absorbe toda responsabilidad desde el momento en el que recibe el producto bajo este termino de compra.</li>
      <li>Por lo que le sujerimos traer el terminal desarmado para probar dicho componente en caso de que este no valla soldado y/o sea posible su prueba sin mayores inconvenientes.</li>
    </ul>
  </section>
    

    <h4 class="titulo">Las condiciones para hacer un cambio son las siguientes:</h4>
    <ul id="textgsap">

      <li>El cliente debe solicitar su cambio haciendo un reclamo por garantía en nuestra tienda en línea.</li>
      <li>El producto debe tener los sellos de garantía intactos. Si presentan señal de manipulación no se aceptará el cambio.</li>
      <li>El producto debe ser retornado como nuevo, no debe ser usado, si este regresa con los plásticos protectores levantados, señales de desgaste, pegamentos y/o otras señales de manipulación como flexes doblados no aplica para cambio ya que se considera un producto usado.</li>
      <li>El producto debe regresar en su empaque original, no se aceptan productos sin el empaque original.</li>
      <li>Los costos de envío son responsabilidad del cliente, no recibimos paquetes por cobrar ni nos hacemos responsables por los costos de envío. Le aconsejamos elegir un servicio de entrega que garantice el estado del producto durante la entrega.  </li>
      <li>El cliente debe enviar el Número de reclamo (RMA) escrito junto con el producto que devuelve.</li>
      <li>En caso de ser rechazada la garantía durante la inspección el producto se enviará de vuelta al cliente, el cliente es responsable de todos los gastos de envío.</li>
      <li>Recordamos verificar la linea de productos sin garantia, ante cualquier duda, consultenos.</li>
      <li>De no contar con existencias suficientes para realizar el cambio se realizará una nota de crédito canjeable en cualquier otro producto de nuestra tienda de lo contrario se entrega una unidad idéntica a la ordenada inicialmente. No se hacen devoluciones en efectivo. </li> 
      <li>No se aceptan devoluciones en caso el cliente haya solicitado y adquerido un producto equivocado.</li>
      <li>No aceptamos devoluciones de baterías infladas después de 24 horas de haber recibido el pedido.</li>
      <li>La garantia cubre unicamente el repuesto, EnLinea no se hará responsable por los daños que pueda ocacionar el uso/instalación de un repuesto, es responsabilidad del cliente determinar la compatibilidad y seguridad de uso del repuesto previo a la instalación del mismo.</li>
      <li>La garantía no cubre fallos de compatibilidad por el software o actualización del software del dispositivo al cual se instala la parte.</li>
    </ul>

    <p class="titulo">Los tiempos de garantía son:</p>
    <ul id="textgsap">
      </li>Repuestos 7 dias de garantia (consultar la Garantia extendida de Revendedores).</li>
      </li>Herramientas: 30 dias de garantía. </li>
    </ul>

    <p class="titulo">envio de mercaderias</p>
    <ul id="textgsap">
      <li>Enviamos mercadería utilizando el servicio de la empresa SendBox (https://www.sendbox.com.ar/) realizando ellos la logística o atravez de OCA correo postal,
      <li>Los pedidos se despachan una vez recibida la transferencia (bancaria o mercado pago), ya sea en el mismo día o al día siguiente dependiendo del día y horario teniendo en cuenta que solo se hace de lunes a viernes. 
      <li>Una vez despachado se te envía la guía de la misma.</li>
      <li>Los cargos de envío a veces se abonan en destino y otras veces al despacharse, algo que se consulta y se te avisa dependiendo del lugar.</li>
      <li>Toda la mercadería va embalada, bien protegida, antes de cerrar el embalaje se te envía una foto con toda la mercadería que se despacha para verificar que este completo el pedido.</li>
      <li>La garantía de dicha mercadería es de 30 días, en cuyo plazo deberás avisar si registras una falla y enviar un vídeo mostrandola para su análisis y respectiva acreditación para el cambio.</li>
      
      <li>Si abonaste con transferencia deberás enviar el comprobante y aguardar a que se haya acreditado del mismo.</li>
      <li>Luego de confirmación de pago impactado (puede demorar hasta 72hs aprox. en impactar el pago según banco). nos comunicaremos con vos para confirmar el impacto del pago realizado.</li> 
      <li>Si elegiste como medio de entrega RETIRO EN SUCURSAL  deberás confirmar por WhatsApp  que el producto ya está disponible para retirarlo por la sucursal y recuerda llevar tu DNI para retirar el producto.</li>
    </ul>      
    <h2 class="titulo">Gracias por Utilizar EnLinea.com</h2>
  </div>
</div>

<script>
  const tlLoader = gsap.timeline()
  tlLoader
          .set('.titulo', { yPercent: 100 })
          .set('#textgsap', {opacity: 0})
  
          .set('.titulo', { 
              yPercent: -100,
           })
          .to('.titulo',{
              yPercent: 0,
              duration: 1,
              stagger: 0.25,
          })
          .to('#textgsap',{
              opacity: 1,
              duration: 1,
              scale: 0.9,
          })
         
      </script>

{% endblock %}