{% extends 'base.html' %}

{% block title %} 
    Reglamento
{% endblock title%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

                <h1 class="titulo mt-5" >TÉRMINOS Y CONDICIONES GENERALES DE USO DEL SITIO</h1>

        </div>
    </div>
    <h3 >Seccion Clasificados<h3> 
        <ol id="textgsap">
        <li>EnLinea.com es un sitio web en el cual los usuarios pueden ofrecer o solicitar bienes o servicios, y son ellos quienes informan sobre las características y condiciones de venta o contratación de los mismos. Por lo tanto EnLinea.com no ofrece ningún tipo de garantía relacionada con los bienes o servicios que Usted puede adquirir a través de nuestro sitio.</li>
        
        <li>Del mismo modo no nos responzabilizamos ni garantizamos por parte de los usuarios que publiquen bienes o servicios el cumplimiento de la normativa vigente aplicable a la comercialización de los bienes o servicios de que se trate.</li>
        
        <li>EnLinea.com no es responsable por el cumplimiento, entre otras, de la legislación en materia de derecho de autor, propiedad intelectual, o con el cumplimiento de cualquier otra norma aplicable, o legalidad de los bienes o servicios listados en, u ofrecidos a través de EnLinea.com o que de otro modo estén vinculados al sitio de EnLinea.com, o que sean provistos a EnLinea.com por terceros.</li>
        
        <li>EnLinea.com no se responsabiliza por el uso no autorizado de imágenes o de marcas, logotipos, diseños, o cualquier otro derecho de propiedad intelectual que efectúen los usuarios.</li>
        
        <li>Nuestros servicios están disponibles sólo para aquellos individuos que tengan capacidad legal para contratar, según lo dispuesto por la legislación vigente. Si Usted no tiene capacidad legal para contratar, le solicitamos que se abstenga de utilizar nuestros servicios.</li>
            
        <li>EnLinea.com no tiene, ni puede tener, control sobre la calidad, seguridad, contenido o legalidad de los productos que ofrecen los vendedores, ni la veracidad y exactitud de las descripciones de los mismos.</li>
            
        <li>EnLinea.com no se responsabiliza frente a los usuarios o terceros por el cumplimiento total o parcial por parte de los vendedores y/o compradores de las compraventas de los bienes o servicios que se ofrecen a la venta en este sitio.</li>
            
        <li>EnLinea.com no se responsabiliza por la interpretación de lo expresado en el sitio o en las consultas realizadas, ni de los daños que sean consecuencia directa o indirecta o remota, invocados por quienes usen o consulten este sitio.</li>
            
        <li>La publicación en EnLinea.com es gratuita para particulares que circunstancialmente publiquen avisos vendiendo objetos de su propiedad. Los comercios, empresas, emprendimientos o particulares que lucren en forma habitual con la venta, deben acordar una pauta publicitaria con EnLinea.com. Para esto comunicarse antes de publicar a desbloqueoenlinea@gmail.com De no cumplirse este requisito, el usuario será bloqueado y sus avisos eliminados.</li>
            
        <li>No está permitida la publicación sistemática del mismo producto para obtener un buen posicionamiento. En caso de querer obtener un buen posicionamiento puede usarse el sistema de avisos Premium.</li>
            
        <li>EnLinea.com se reserva el derecho de bloquear y/o eliminar avisos y/o usuarios que considere necesario sin previo aviso ni necesitar justificación correspondiente.</li>
            
        <li>Los usuarios son exclusivamente responsables por cumplir con todas las obligaciones aplicables y por otorgar los documentos y formalidades, inclusive registrales, según el producto de que se trate.</li>
            
        </li>EnLinea.com no se responsabiliza frente a los usuarios o terceros por los daños que sean consecuencia directa o indirecta o remota de la interrupción, suspensión o finalización de los servicios prestados por EnLinea.com en este sitio.</li>
            
        </li>Excepto que se establezca lo contrario por escrito y en forma expresa, ninguno de los contenidos de los servicios prestados por EnLinea.com podrá ser interpretados como una concesión de licencia de los derechos intelectuales de EnLinea.com o de cualquier tercero.</li>
    </ol>   
            
        <h4 class="titulo mt-5">En EnLinea.com NO se admiten avisos de los siguientes tipos:</h4>
    <ol id="textgsap">   
        <li>· Avisos repetidos.</li>
            
        <li>· Articulos malhabidos.</li>
            
        <li>· Ofertas Sexuales u avisos con lenguaje no apto para menores.</li>
            
        <li>· Esquemas piramidales.</li>
            
        <li>· Marketing de afiliación o publicidad comercial no solicitada.</li>
            
        <li>· Contengan publicidad de esquemas para conseguir dinero.</li>
            
        <li>· Tarjetas de descuento.</li>
            
        <li>· Asesoramiento crediticio.</li>
            
        <li>· Encuestas en línea o concursos en línea.</li>
            
        <li>· Críticas dirigidas hacia una persona en particular, grupo u organización.</li>
            
        <li>· Contenidos violentos, o con discriminación o agresión racial.</li>
            
        <li>· Contenidos de imitación o falsificación informática.</li>
            
        <li>· Contenidos promocionando drogas o relacionados ilegales.</li>
            
        <li>· Contenidos con exceso de lenguaje inadecuado.</li>
            
        <li>· Contenidos relacionados con programas que benefician a los usuarios por entrar a anuncios u ofertas, búsquedas, navegar por las páginas web o leer e-mails.</li>
            
        <li>· Contenidos relacionados con juegos de apuestas o casinos.</li>
            
        <li>· Contenidos que contengan un uso excesivo, repetitivo o irrelevante de palabras clave, contengan o puedan considerarse "correo no deseado", "correo no solicitado", "mensajes en cadena".</li>
            
        <li>· Contenidos promoviendo la venta de armas o municiones, o promoviendo transacciones sobre bienes ilegales.</li>
            
        <li>· Contenidos de venta o promoción de tabaco o productos afines.</li>
            
        <li>· Contenidos de venta o promoción de medicamentos que requieren receta.</li>
            
        <li>· Contenidos de venta o promoción de productos de piratería.</li>
            
        <li>· Contenidos de venta o promoción de animales silvestres.</li>
            
        <li>· Contenidos de venta o distribución de exámenes escolares, universitarios o cualquier trabajo académico.</li>
            
        <li>· Cualquier otro contenido que sea contrario a la ética profesional, sea ilegal, incite a una acción ilegal o viole los derechos de terceros.</li>
            
        <li>· Usar software automatizado o proceso manual, así como robots o spiders para copiar o monitorizar el servicio de EnLinea.com y/o su contenido sin la autorización previa y por escrito de EnLinea.com.</li>
            
        <li>· Acosar a ninguna persona o grupo de personas.</li>
            
        <li>· Recolectar datos personales de otros usuarios con fines comerciales o ilegales.</li>
            
        <li>· Utilizar "spiders", "robots", "crawlers", o algún otro tipo de sistema para examinar o copiar los datos de los avisos publicados en EnLinea.com con excepción de los buscadores o archivos públicos no comerciales.</li>
            
        <li>· Colocar contenido que no sea específico, o sea irrelevante.</li>
            
        <li>EnLinea.com puede modificar los Términos y Condiciones Generales en cualquier momento sin previo aviso.</li>

    <ol>
    </br>
        <h5 class="titulo mt-5">Por consiguiente queda estipulado que los servicios prestados de manera Gratuita por EnLinea.com:</h5>
        <p id="textgsap">Deberan utilizaese acordes a la normativa vigente.</p>
        <p id="textgsap">El contenido publicado por los usuarios solo pertenecera a temas, productos o servicios relacionados con la Telefonia Celular y afines.</p>
        <p id="textgsap">EnLinea.com se reserva el derecho sin previo aviso a cobrar aranceles por la utilizacion de sos servicios si previo aviso.</p>

        
            <h2 class="titulo mt-5">Gracias por utilizar los servicios prestados por nuestra web EnLinea.com.</h2>
</div>
<script>
    const tlLoader = gsap.timeline()
    tlLoader
            .set('.titulo', { yPercent: 100 })
            .set('#textgsap', {opacity: 0})
    
            .set('.titulo', { 
                yPercent: -100,
             })
            .to('.titulo',{
                yPercent: 0,
                duration: 1,
                stagger: 0.25,
            })
            .to('#textgsap',{
                opacity: 1,
                duration: 1,
                scale: 0.9,
            })
           
        </script>
        


        
{% endblock  %}